@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sigmar&family=Source+Sans+Pro:wght@400;600;700&display=swap');


.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 986px;
  height: 950px;

  background: #F7F7FE 0% 0% no-repeat padding-box;
  opacity: 1;

  
}

.imageContainer img {
 
  left: 129px;
  width: 625px;
  height: 508px;
  opacity: 1;
}

.imageContainer h1 {
  top: 151px;
left: 129px;
width: 611px;
height: 58px;
text-align: left;
font: "Lato",Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
font-size: 43px;
margin-bottom: 94px;
}

