.formLogin {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
   
    
  }
  .imageLogin{
    
    margin-left: 100px;
   height: 70vh;
   
  }
  .imagesignup{
   
    margin-left: 100px;
    height: 70vh;
  }
  
  .container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    margin-top: -50px;
    
    
  }
  h2{
    display: inline-block; font-size: 24px; font-weight: blod; margin-right: 10px;
  }
  h1{
    display: inline-block; font-size: 24px; font-weight: bold; margin-right: 10px;
  }
  
  .formLogin > h2 {
    
   font-size: 30px;
    color: rgb(200, 72, 225);
    text-align: end;
  }
  
  .formLogin > div {
    margin-bottom: 40px;
  }
  
  .formLogin > div > div {
    position: relative;
  }
  
  .formLogin input[type="text"],
  .formLogin input[type="email"],
  .formLogin input[type="password"] {
    background: #fff;
    border-radius: 4px;
    outline: 0;
    border:none;
    border-bottom: 5px solid;

    border-image: conic-gradient(magenta,rgb(16, 209, 248),magenta, rgba(72, 110, 224, 0.918), rgb(68, 241, 241),rgb(124, 3, 124)) 1;

    padding: 10px 20px;
    font-size: 20px;
    width: 150%;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .formLogin input[type="text"]:focus,
  .formLogin input[type="email"]:focus,
  .formLogin input[type="password"]:focus {
    border: 1px solid var(--main-color);
  }
  
  .unCompleted > input {
    border: 1px solid #ff0000 !important;
  }
  
  .completed > input {
    border: 1px solid rgb(178, 44, 205) !important;
    position: relative;
  }
  
  .unCompleted::after {
    content: "";
   
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
  
  .completed::after {
    content: "";
    
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
  
  .formLogin input[type="checkbox"] {
    position: relative;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(236, 3, 236);
    appearance: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .formLogin input[type="checkbox"]:checked {
    background-color: rgb(4, 1, 4);
    
  }
  
  .formLogin input[type="checkbox"]:focus {
    outline: none;
    border: 2px solid var(--main-color-hover);
  }
  
  .formLogin > div > div img {
    position: absolute;
    max-width: 20px;
    max-height: 20px;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  
  .formLogin ::placeholder {
    color: #bfbbbb;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .formLogin > div span.error {
    height: 10px;
    text-align: left;
    margin-top: 5px;
    width: fit-content;
    font-size: 0.9rem;
    color: red;
    line-height: 1px;
    padding: 9px 3px;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.175);
    display: inline-block;
  }
  
  .formLogin button[type="submit"] {
    display: block;
    text-align: center;
    width: 150%;
    border-radius: 8px;
    outline: 0;
    border: none;
    color: #fff;
    padding: 20px;
    margin: 15px 0;
   font-size: large;
   font-weight: 700;
   letter-spacing: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    background-image: url(../../../public/assets/butt.jpg);
  }
  
  .formLogin button[type="submit"]:hover {
  
    cursor: pointer;
  }
  
  .terms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 19px 0;
  }
  
  @media (max-width: 568px) {
    .formLogin {
      min-width: 300px;
      padding: 16px;
    }
    .formLogin input[type="text"],
    .formLoginQ input[type="email"],
    .formLogin input[type="password"] {
      padding: 10px 32px;
    }
  }
  .Typography{
    top: 128px;
left: 1074px;
width: 207px;
height: 85px;
/* UI Properties */
text-align: left;
font: normal normal bold 62px/85px Nunito Sans;
letter-spacing: 0px;
color: #3E3E3E;
text-transform: uppercase;
opacity: 1;
font-size: 62px;
  }