

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sigmar&family=Source+Sans+Pro:wght@400;600;700&display=swap');


html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font:""
}
.app{
  display: flex;
  position: relative;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}
::-webkit-scrollbar-track:hover {
  background: #555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #5547D2;
  --secondary-color: #0956a3;

  --main-color-hover: #5547D2;
}
body {
  font-size: 14px;
  color: #303030;
  overflow-x: hidden;
  background: #f8f9fa;
  
}


